@charset "UTF-8";

html{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

div {

    border: 3px solid black;
    margin: auto;
    max-width: 1500px;
}

div p {
    font-size: 1.4rem;
    text-align: justify;
    margin: 3% auto 3% auto;
    width: 90%;
    border: 1px black solid;
}

div h1{
    border: 3px solid darkblue;
    width: 90%;
    margin: 3% auto 1% auto;
    text-align: center;
    font-size: 2rem;
}

section {
    display: block;
    float: left;
    width: 90%;
    max-width: 600px;
    min-width: 150px;
    height: 500px;
    margin: 10px 2% 10px 5%;
    border: 3px solid darkgreen;  
}

aside {
    display: block;
    float: right;
    width: 90%;
    max-width: 500px;
    min-width: 150px;
    height: 500px;
    margin: 10px 5% 10px 0%;
    border: 3px solid brown;
    
} 

footer {
    text-align: center;
    width: 90%;
    clear: both;
    margin: 0 auto 1% auto;
    border: 3px solid darkred;

}

@media (max-width: 1285px){
    
    section {
        display: flow-root;
        float: none;
        margin: 10px auto 10px auto;
    }

    aside {
        display: flow-root;
        float: none;
        margin: 10px auto 10px auto;
        max-width: 600px;
    }

}