@charset "UTF-8";

body {
}

div {

    border: 3px solid black;
    margin: auto;
    max-width: 1500px;
}

header h1{
    border: 3px solid darkblue;
    width: 90%;
    margin: 3% auto 1% auto;
    text-align: center;
}

section {
    display: block;
    float: left;
    width: 90%;
    max-width: 450px;
    height: 500px;
    margin-left: 5%;
    border: 3px solid darkgreen;    
}

aside {
    display: block;
    float: right;
    width: 90%;
    max-width: 450px;
    margin-right: 5%;
    border: 3px solid brown;
    height: 500px
} 

footer {
    width: 100%;
    clear: both;
    margin: auto;
    
    border: 3px solid darkred;
}

@media (max-width: 1141px){
    aside {
        display: flow-root;
        float: none;
        margin: auto;
    }
}